<header id="top" class="header">
        <div class="text-vertical-center">
            <h1>On The Move</h1>
            <h3>Improve your container awareness</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Concept</a>
        </div>
    </header>
>

 <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <h2 class="text-Center">Concept</h2>
<p>Wanna know where your containers are?</p>
<p>Wanna know if one of your conainers is gonna be ready?</p>
<p>Get warning update when the stockTime is due</p>
<p>See The expected turnAroudn times for the Trucks</p>
            </div>
           
        </div>
      
    </section>

 <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-rights">
 					 <h2 class="text-Center">Concept</h2>
 					<p>Sjoerd Dehaan</p>
 					<p>Jamie Goegebeur</p>
            </div>
           
        </div>
      
    </section>