<header id="top" class="header">
        <div class="text-vertical-center">
            <h1>On The Move</h1>
            <h3>Improve your container awareness</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Concept</a>
        </div>
    </header>
>

 <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Concept</h2>
                 <p>Wanna know where your containers are?</p>
<p>Wanna know if one of your conainers is gonna be ready?</p>
<p>Get warning update when the stockTime is due</p>
<p>See how long the turnaround is expected to be that they and send out your truckers at the most efficent times</p>

            </div>
           
        </div>
      
    </section>

 <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
 					<h2>makers</h2>
 					<p>Sjoerd Dehaan</p>
 					<p>Jamie Goegebeu</p>
            </div>
           
        </div>
      
    </section>