<div class="container" ng-controller="ContainerGroupCtrl">
  <i class="fa fa-clone"></i>

  <table class="icon-table">
    <tr>
      <td class="icon-row"><img src="images/container_ship.png"></img> </td>
      <td ng-repeat="container in containers">
        <img src="images/container.png"  ></img>    
      </td>
      <td class='HoverWindow'>
          <p><p id ='containerID'>ContainerId: </p>     
          <p id ='boatID'>BoatId: </p>
          <p id ='shipETA'>SHIPETA:</p> 
          <p id ='containerETA'>COntainer ETA:</p>
      </td> 
    </tr >
    <tr>
      <td><img src="images/terminal.png"></img> </td>       
      <td ng-repeat="container in containers">
        <img src="images/container.png"  ></img>    
      </td>
           <td class='HoverWindow'>
          <p><p id ='containerID'>ContainerId: </p>     
          <p id ='boatID'>BoatId: </p>
          <p id ='shipETA'>SHIPETA:</p> 
          <p id ='containerETA'>COntainer ETA:</p>
      </td> 
    </tr >
    <tr>
      <td><img src="images/container_truck.png"></img> </td>       
      <td ng-repeat="container in containers">
        <img src="images/container.png"  ></img>    
      </td>
     <td class='HoverWindow'>
          <p><p id ='containerID'>ContainerId: </p>     
          <p id ='boatID'>BoatId: </p>
          <p id ='shipETA'>SHIPETA:</p> 
          <p id ='containerETA'>COntainer ETA:</p>
      </td> 
    </tr >
    <tr>
      <td><img src="images/warehouse.png"></img> </td>       
      <td ng-repeat="container in containers">
        <img src="images/container.png"  ></img>    
      </td>
       <td class='HoverWindow'>
          <p><p id ='containerID'>ContainerId: </p>     
          <p id ='boatID'>BoatId: </p>
          <p id ='shipETA'>SHIPETA:</p> 
          <p id ='containerETA'>COntainer ETA:</p>
      </td>  
    </tr >
  </table>
</div>
